node_modules
node_modules_trash
node_modules_bad_*
/.cache
/build
/dist
/public/build
/.mf
.env
.shopify
.react-router
.vercel
debug.log
npm-fm.log
*.log
npm-install.log
*.tsbuildinfo

.vercel
.env*.local
